cava/
cine/
Code/
dconf/
direnv/
environment.d/
epiphany/
evolution/
fontconfig/
git/
gnome-initial-setup-done
goa-1.0/
gtk-3.0/
gtk-4.0/
ibus/
mimeapps.list
nautilus/
net.imput.helium/
nwg-look/
pulse/
QtProject.conf
spotify/
systemd/
user-dirs.dirs
user-dirs.locale
zen/
